* {
    box-sizing: border-box;
}
header {
    position: fixed;
    background-color: #e0e0de;
    position: fixed;
    display: inline-block;
    padding: 15px 0 8px;
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
}
.navtoggle li:not(:last-child) {
    display: none;
}
.navtoggle, .navtoggle.responsive {
    position: relative;
}
.navtoggle.responsive nav {
    padding: 12px;
    background-color: #e0e0de;
    width: 100%;
  }
.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
}
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 28px;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin:  1em 0;
}
nav > ul > li > a {
    padding: 0 12px;
    text-transform: uppercase;
    font-weight: 400;
    color: #53624f;
    font-family: 'Poiret One', cursive;
}
nav > ul > li > a:hover {
    font-weight: 400;
    color: #f6ebe5;
    text-decoration: overline;
    padding: 0 15px;
  }
#hero {
    text-align: center;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}
main {
    padding-top: 150px;
}
body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px; /*sets the font to 16px */
    font-weight: 300;
    line-height: 1.6;
    color: #53624f;
}
footer {
    text-align: center;
    padding: 15px;
}
h1,h2,h3,h4 {
    font-family: 'Poiret One', cursive;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
    line-height: 1.4;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: #bd845d;
    text-decoration: none; /* No underlining */
}
a:hover {
    color: #ffffff;
    text-decoration: underline;
}
a:focus {
    color: #bd845d;
    text-decoration: underline; /* Underlining when hovering over a link */
}
a:active {
    /* selected link */
    color: #bd845d;
}
.workimage:hover {
  transform: scale(1.0125);
}
.button.contact {
    background-color: transparent;
    color: #53624f;
    text-transform:  full-width;
    border: 2px solid #f6ebe5;
    padding: 12px 60px;
    margin: 15px;
}
.button.contact:hover {
    background-color: white;
    color: #53624f;
    opacity: 0.8;
    border: 2px solid #53624f;
}
.button.contact:active {
    background-color: #bd845d;
    color: #bd845d;
}
.button {
    display: inline-block; /* view proj since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color:  #e0e0de;
    color: #53624f; /* needed to override the default link color */
    text-transform: capitalize;
    font-weight: 400;
    padding: 12px 32px;
    transition: 0.2s opacity;
    text-decoration: none;
    border-radius: 16px;
    border: 2px solid #e0e0de;
    transition-duration: 0.2s;
}
.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    background-color: transparent;
    color: #bd845d;
}
.button:active {
    opacity: 100%;
    text-decoration: underline;
}
/*layout styling*/
.container {
    padding: 0 15px;
}
#work .row {
    padding-bottom: 50px;
    border-bottom: 1px solid #53624f;
}
#workdescription{
  padding-right: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    padding: 0 10px;
}
.logo {
    max-width: 100px;
    border-radius: 8px;
}
.workpic {
  text-align: center;
  padding-top: 30px;
  position: inherit;
}
.workimage:hover {
  transform: scale(1.0125);
}
#about h2 {
  padding-top: 30px;
}

#about h3 {
  padding-top: 10px;
    margin-top: 0;
}
#about h4 {
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: underline;
}
#about .profilepic {
  border-radius: 50%;
  max-width: 200px;
  text-align: center;
}
#about .row {
        padding: 30px 0;
  }
.skills {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.lastrow {
  padding: 30px 0;
  /* 25px top and bottom, 0 left and right */
}
.lastrow::after {
  content: "";
  clear: both;
  display: table;
}
.social {
    text-align: center;
    padding-top: 5px;
}
.social a {
    display: inline-block;
    margin: 0 12px;
}
#ultrant .container {
  padding: 0px 15px;
}
#souschef .container {
  padding: 0 15px;
}
#traverse .container {
  padding: 30px 15px;

}
#ultrant .viewbutton {
  display: inline-block;
  margin: 15px;
  width: 255px;
}
#ultrant .projecthero {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
#ultrant .designstrategy{
  max-height: 400px;
}
#souschef .projecthero {
  background-color: #6a94ac;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
#traverse .projecthero {
  background-color: #6a94ac;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
[class*="col-"] {
    float: left;
    padding: 30px;
}
.c{
font-size: 12px;
font-style: italic;
}
.italic{
  font-family: 'Poiret One', cursive;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  color: #bd845d;
}
.bold-text{
  font-weight: 400;
}
.center {
  text-align: center;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .logo {max-width: 100px
  }
  header {
    text-align: unset;
    padding: 25px 0 25px;
  }
    nav {
        width: auto;
        float: right;
    }
    nav>ul {
      margin: 1em 0;
    }
    nav > ul > li {
        display: inline-block;
    }
    .navtoggle li:last-child {
      display: none;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    .col-md-6 {
        width: 50%;
    }
    [class*="col-"] {
      float: left;
      padding: 30px;
    }
    #scrollUp {
      bottom: 20px;
      right: 20px;
      padding: 12px 32px;
      border-radius: 16px;
      background-color: transparent;
      color: #53624f;
      border: 2px solid #f6ebe5;
    }
    #scrollUp:hover{
      background-color: white;
      color: #53624f;
      opacity: 0.8;
      border: 2px solid;
    }
    #work h3 {
      margin: 0;
      padding: 0;
    }

    #about h2 {
      margin: 0;
      padding: 0;
    }

    #about h3 {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    #about .row {
      padding: 30px 0;
    }
    #about .profilepic {
      border-radius: 50%;
      max-width: 360px;
      text-align: center;
    }
    .skills {
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    body {
        font-size: 18px;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .col-lg-7 {
      width: 60%;
    }

    .col-lg-5 {
      width: 40%;
    }
    #scrollUp {
      bottom: 20px;
      right: 20px;
      padding: 12px 32px;
      border-radius: 16px;
      background-color: transparent;
      color: #53624f;
      border: 2px solid #f6ebe5;
    }
    #scrollUp:hover{
      background-color: white;
      color: #53624f;
      opacity: 0.8;
      border: 2px solid;
    }
    #about .profilepic {
      border-radius: 50%;
      max-width: 360px;
      text-align: center;
    }
  }
