* {
  box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: "Nunito", sans-serif;
    font-size: 16px; /*sets the font to 16px */
    font-weight: 300;
    line-height: 1.6;
    color: #53624f;
}
header {
  background-color: #e0e0de;
  text-align: center;
  padding: 10px 0;
  position:fixed;
  display: inline-block;
  width: 100%;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
main {
  padding-top: 133px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
  width: 100%;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: capitalize;
  font-weight: 400;
  color: #BD845D;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: capitalize;
  font-weight: 400;
  color: #BD845D;
}
nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: capitalize;
  font-weight: 400;
  color: #BD845D;
}nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: capitalize;
  font-weight: 400;
  color: #BD845D;
}
}
h1,
h2,
h3,
h4 {
    line-height: 1.4;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
}
img {
    max-width: 100%;
}
a {
    color: #bd845d;
    text-decoration: none; /* No underlining */
}
a:visited {
    /* visited link */
    color: #bd845d;
}
a:hover {
    color: #e0e0de;
    text-decoration: underline;
}
a:focus {
    color: #bd845d;
    text-decoration: underline; /* Underlining when hovering over a link */
}
a:active {
    /* selected link */
    color: #bd845d;
}

.button.contact {
    background-color: transparent;
    color: #53624f;
    text-transform: uppercase;
    border: 2px solid #e0e0de;
}
.button.contact:hover {
    background-color: transparent;
    color: #bd845d;
    opacity: 0.8;
    border: 2px solid #bd845d;
}
.button.contact:active {
    background-color: #bd845d;
    color: #bd845d;
}

.button {
    display: inline-block; /* view proj since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: transparent;
    color: #ffffff; /* needed to override the default link color */
    text-transform: capitalize;
    font-weight: 400;
    padding: 15px;
    transition: 0.2s opacity;
    border: 2px solid #e0e0de;
}
.button:hover {
    opacity: 0.5; /* Reduces the opacity of the button to 80% */
    text-decoration: underline;
}
.button:active {
    opacity: 100%;
    text-decoration: underline;
}
/*layout styling*/
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;}
#hero{
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.logo {
  padding: 50px;
  max-width: 250px;
}
main{
  padding-top: 333px;
}
footer {
  text-align: center;
  padding: 10 px;
}
.social{
  text-align: center;
}
.social a {
  display: inline-block;
  margin: 0 5px;
}
.social svg {
  max-width: 50px;
  height: auto;
}


/* Colors used:
Primary Color (Green):#53624F;
Secondary Color (Brown):#BD845D;
*/
