* {
    box-sizing: border-box;
}
header {
    position: fixed;
    background-color: #e0e0de;
    padding: 15px 0 8px;
    position: fixed;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
}
.navtoggle li:not(:last-child) {
    display: none;
}
.navtoggle, .navtoggle.responsive {
    position: relative;
}
.navtoggle.responsive nav {
    padding: 24px;
    background-color: #e0e0de;
    width: 100%;
  }
.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 127, 80, 0.5);
}
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 28px;
    padding-right: 4px;
}
body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px; /*sets the font to 16px */
    font-weight: 300;
    line-height: 1.6;
    color: #53624f;
}
main {
    padding-top: 100px;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
}
nav > ul > li > a {
    padding: 0 12px;
    text-transform: uppercase;
    font-weight: 400;
    color: #53624f;
    font-family: 'Playfair+Display', serif;
}
nav > ul > li > a:hover {
    padding: 0 15px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: overline;
}
#hero {
    text-align: center;
    padding: 50px 0;
    display: inline-block;
    width: 100%;
}
h1,h2,h3,h4 {
    font-family: 'Playfair+Display', serif;;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
    line-height: 1;
    padding-top: 25px;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
    line-height: 1.4;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
    line-height: 1.4;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
    line-height: 1.4;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: #bd845d;
    text-decoration: none; /* No underlining */
}
a:hover {
    color: #ffffff;
    text-decoration: underline;
}
a:focus {
    color: #bd845d;
    text-decoration: underline; /* Underlining when hovering over a link */
}
a:active {
    /* selected link */
    color: #bd845d;
}
.button.contact {
    background-color: transparent;
    color: #53624f;
    text-transform:  full-width;
    border: 2px solid #ffffff;
}
.button.contact:hover {
    background-color: white;
    color: #53624f;
    opacity: 0.8;
    border: 2px solid #53624f;
}
.button.contact:active {
    background-color: #bd845d;
    color: #bd845d;
}
.button {
    display: inline-block; /* view proj since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color:  #e0e0de;
    color: #53624f; /* needed to override the default link color */
    text-transform: capitalize;
    font-weight: 400;
    padding: 12px 32px;
    transition: 0.2s opacity;
    text-decoration: none;
    border-radius: 16px;
    border: 2px solid #e0e0de;
    transition-duration: 0.2s;
}
.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    background-color: transparent;
    color: #bd845d;
}
.button:active {
    opacity: 100%;
    text-decoration: underline;
}
/*layout styling*/
.container {
    padding: 0 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    padding: 0 10px;
}
#work .row {
    padding-bottom: 50px;
    border-bottom: 1px solid #53624f;
}
#workdescription{
  padding-right: 15px;
}
#hero {
    text-align: center;
    padding: 15px 0;
    display: inline-block;
    width: 100%;
}
#hero span {
    display: block;
}
.logo {
    max-width: 100px;
    border-radius: 8px;
}
.workpic {
  text-align: center;
  padding-top: 30px;
}
.workimage:hover {
  transform: scale(1.0125);
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.lastrow {
  padding: 30px 0;
  /* 25px top and bottom, 0 left and right */
}

.lastrow::after {
  content: "";
  clear: both;
  display: table;
}
footer {
    text-align: center;
    padding: 15px;
}
.social {
    text-align: center;
    padding-top: 5px;
}
.social a {
    display: inline-block;
    margin: 0 12px;
}
#ultrant {
    padding: 0 15px;
}
#ultrant .container {
  padding: 30px 15px;
}
#souschef .container {
  padding: 30px 15px;
}
#traverse .container {
  padding: 30px 15px;
}
#ultrant .viewbutton {
  display: inline-block;
  margin: 15px;
  width: 255px;
}
#ultrant .projecthero {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 15px;
  color: #ffffff;
}
#souschef .projecthero {
  background-color: #6a94ac;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 15px;
  color: #ffffff;
}
#traverse .projecthero {
  background-color: #6a94ac;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 15px;
  color: #ffffff;
}
[class*="col-"] {
    float: left;
}
#scrollUp {
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: #555;
  color: #fff;
}
.c{
font-size: 10px;
font-style: italic;
}
.bold-text{
  font-weight: 400;
}
.center {
  text-align: center;
}
#about-page h3 {
    margin-top: 0;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }
    nav>ul {
      margin: 1em 0;
    }
    nav > ul > li {
        display: inline-block;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    .navtoggle li:last-child {
        display: none;
    }
    [class*="col-"] {
      float: left;
      padding: 30px;
    }
    .col-md-6 {
        width: 50%;
    }
    #about-page h3 {
        margin-top: 0;
    }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    body {
        font-size: 18px;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .col-lg-7 {
      width: 60%;
    }

    .col-lg-5 {
      width: 40%;
    }
  }
}
